In [9]:
import pandas as pd

In [10]:
mar23 = pd.read_excel('Loan Data DEC22-MAR23.xlsx',sheet_name='MAR23',header=0)

In [11]:
dec22 = pd.read_excel('Loan Data DEC22-MAR23.xlsx',sheet_name='DEC22',header=0)

In [13]:
dec22.shape

(85310, 24)

In [14]:
mar23.head()

,cutoff_date,loan_id,loan_group,loan_program,orig_credit_score,loan_purpose_type,property_type,property_state,lien_position,original_cltv,...,orig_date,original_loan_term,rterm,original_interest_rate,current_interest_rate,delinquent_dt,days_delinquent,loan_status,original_dti_rate,Charge Off Hardcoded
0,2023-03-31,loan_10000000002,loan_10000071534,DRAW,831,Home improvement,SFR,CA,Junior,0.6733,...,2022-08-18,172,0,0.0841,0.0841,NaT,0,PAID_CLOSED,0.4744,No
1,2023-03-31,loan_10000000003,NaN,PRIMARY,725,Home improvement,SFR,NJ,Junior,0.7138,...,2022-08-22,360,353,0.0875,0.0875,NaT,0,IN_REPAY,0.2540,No
2,2023-03-31,loan_10000000004,loan_10000024216,DRAW,711,Home improvement,SFR,AZ,Junior,0.7771,...,2022-06-30,100,91,0.0799,0.0799,NaT,0,IN_REPAY,0.2203,No
3,2023-03-31,loan_10000000005,NaN,PRIMARY,686,Debt consolidation,SFR,CO,Junior,0.6698,...,2019-07-09,120,0,0.0825,0.0825,NaT,0,PAID_CLOSED,0.1493,No
4,2023-03-31,loan_10000000006,NaN,PRIMARY,703,Debt consolidation,SFR,FL,Junior,0.9000,...,2019-11-01,180,0,0.1125,0.1125,NaT,0,PAID_CLOSED,0.2035,No